/*--------*/
/*  Mr.Godinez  */
h1{
    font-size: 40px;
    color: #222;
}
h1 a { 
    color: #222;
}

.topNavBar {
 border-bottom:1;
 border-right:0;
 border-left:0;
 border-top:0;
}

body {
    background-repeat: no-repeat;
    height: 100vh;
    background: #fefefe; /* fallback for old browsers */
    /* background: -webkit-linear-gradient(to right, #ACB6E5, #9fe6e3); /* Chrome 10-25, Safari 5.1-6 */
    /* background: linear-gradient(to right, #ACB6E5, #9fe6e3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: helvetica;
    font-size: 16px;
}
a {
    color: #6373c5;
}
hr{
    margin: 7px 0px;
    border-color:#aaa;
}
label{
    margin-top:6px;
    font: 14px/20px Arial, sans-serif;
}

/*--------*/
/*  Mr.McNulty  */

.subHeaderText {
    size: 20px;
}

.btn-group{
    width:100%;
}
.button{
    width:90%;
    margin-bottom:5px;
    border:none;
    background-color:#ffffffa9;
    box-shadow: 1px 1px 3px #777777a9;
}
.active.button:hover{
    background-color:#f1f1f1a9;
}
.active.button{
    width:45%;
}

.noHover{
    Text-Decoration: None !important;
}
.voter-bar{
    background-color: #ffffffc2;
    padding: 1px 7px;
    display: inline-block;
}
.voter-bar .tightSpace{
    padding:0 10px;
}
.voter-bar .customDisabled{
    color: #999;
    padding:0 0;
}
.sg-p-color{
    color:#6373c5;
}
.sg-a1-color{
    color:#5c5196;
}
.sg-form {
    border:1px solid #6373c5;
    padding:15px;
    max-width: 520px;
}
.man-tabs {
    width: 100%;
    margin-bottom:45px;
}
.man-tab {
    display: inline-block;
    padding:5px 42px;
    border: 1px solid #6373c5;
    margin-top:6px;
}
.man-tab.man-active {
    background-color :#6373c5;
}
.man-tab.man-active a{
    color:white;
}
.man-tab.man-tab-disabled {
    border: 1px solid #aaa;
}
.man-tab.man-tab-disabled a{
    color: #aaa;
}
/*--------*/
/* css 'pins' http://cssdeck.com/labs/css-only-pinterest-style-columns-layout -- modified -- */
#wrapper {
	width: 90%;
	max-width: 1100px;
	margin: 50px auto;
}

#columns {
	-webkit-column-count: 3;
	-webkit-column-gap: 10px;
	-webkit-column-fill: auto;
	-moz-column-count: 3;
	-moz-column-gap: 10px;
	-moz-column-fill: auto;
	column-count: 3;
	column-gap: 15px;
	column-fill: auto;
}

.pin {
	display: inline-block;
	background: rgba(254, 254, 254, 0.28);
	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
	margin: 0 2px 15px;
	-webkit-column-break-inside: avoid;
	-moz-column-break-inside: avoid;
	column-break-inside: avoid;
	padding: 15px;
	padding-bottom: 5px;
	opacity: 1;
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
    /* mcnulty addition */
    width:100%;
}

.pin img {
	width: 100%;
	padding-bottom: 15px;
	margin-bottom: 5px;
}

.pin p {
	font: 12px/18px Arial, sans-serif;
	color: #333;
	margin: 0;
    word-wrap: break-word;
}

@media (max-width: 400px) {
	#columns {
		-webkit-column-count: 1;
		-moz-column-count: 1;
		column-count: 1;
	}
    #wrapper {
        width: 100%;
        margin: 15px auto;
    }
}
@media (min-width: 401px){
    #columns {
		-webkit-column-count: 2;
		-moz-column-count: 2;
		column-count: 2;
	}
    #wrapper {
        width: 95%;
        margin: 25px auto;
    }
}
@media (min-width: 700px) {
    #wrapper {
        width: 90%;
        max-width: 1100px;
        margin: 50px auto;
    }
    #columns {
        -webkit-column-count: 3;
        -webkit-column-gap: 10px;
        -webkit-column-fill: auto;
        -moz-column-count: 3;
        -moz-column-gap: 10px;
        -moz-column-fill: auto;
        column-count: 3;
        column-gap: 15px;
        column-fill: auto;
    }
}
@media (min-width: 960px) {
	#columns {
		-webkit-column-count: 4;
		-moz-column-count: 4;
		column-count: 4;
	}
}
@media (min-width: 1100px) {
	#columns {
		-webkit-column-count: 5;
		-moz-column-count: 5;
		column-count: 5;
	}
}

#columns:hover .pin:not(:hover) {
	opacity: 0.9;
}

textarea.form-control#question {
    display:inline;
    width:auto;
    height:34px !important;
}

/* McNulty's changes to columns */
.pin div.alert{
    font: 12px/18px Arial, sans-serif;
    margin: 10px 0px;
}
