{% extends "pyramid_blogr:templates/layout.jinja2" %}

{% block content %}

    <div class="man-tabs">
        <div class="man-tab">
            <a href="{{request.route_url('home')}}">Register</a>
        </div>
        {% if request.authenticated_userid %}
            <div class="man-tab man-active">
                <a href="{{ request.route_url('question_action',action='create') }}">Question</a>
            </div>
        {% else %}
            <div class="man-tab man-tab-disabled">
                <a>Question</a>
            </div>
        {% endif %}
    </div>


    <form action="{{request.route_url('question_action',action=action)}}" method="post" class="form">
        {% if action =='edit' %}
            {{ form.id() }}
        {% endif %}

        {# Question form #}
        {% for error in form.question.errors %}
            <div class="error">{{ error }}</div>
        {% endfor %}
        <div class="form-group">
            <label for="title">{{ form.question.label }}</label>
            {{ form.question(class_='form-control') }}
        </div>

        {# Type form #}
        {% for error in form.type.errors %}
            <div class="error">{{ error }}</div>
        {% endfor %}
        <div class="form-group">
            <label for="body">{{ form.type.label }}</label>
            {{ form.type(class_='form-control') }}
        </div>

        {# Description form #}
        {% for error in form.description.errors %}
            <div class="error">{{ error }}</div>
        {% endfor %}
        <div class="form-group">
            <label for="body">{{ form.description.label }}</label>
            {{ form.description(class_='form-control') }}
        </div>



        <div class="form-group">
            <label></label>
            <button type="submit" class="btn btn-default">Submit</button>
        </div>
    </form>

    {#
    <!--
    <form action="{{request.route_url('thanks')}}" method="post" class="form sg-form">
        <h1 class="sg-p-color">Question</h1>
        <p class="sg-p-color">Enter a question you think is important, but don't think too much about it.</p>
        {% for error in form.username.errors %}
            <div class="alert alert-danger">{{ error }}</div>
        {% endfor %}
        <div class="form-group">
            <label for="title" class="sg-a1-color">{{form.username.label}}</label>
            {{form.username(class_='form-control')}}
        </div>

        {% for error in form.password.errors %}
            <div class="alert alert-danger">{{error}}</div>
        {% endfor %}
        <div class="form-group" style="display:none">
            <label for="body">{{form.password.label}}</label>
            {{form.password(class_='form-control', value="badpassword")}}
        </div>

        <div class="form-group">
            <label></label>
            <button type="submit" class="btn btn-default">Submit</button>
        </div>
    </form>
    -->
    #}
{% endblock %}