<!DOCTYPE html>
<html lang="{{request.locale_name}}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="pyramid web application">
    <meta name="author" content="Pylons Project">
    <link rel="shortcut icon" href="{{request.static_url('pyramid_blogr:static/pyramid-16x16.png')}}">

    <title>GraphWhy, See For Yourself</title>
    <!-- Bootstrap core CSS -->
    <link href="//oss.maxcdn.com/libs/twitter-bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{request.static_url('pyramid_blogr:static/font-awesome-4.7.0/css/font-awesome.min.css')}}" rel="stylesheet">
    <link href="{{request.static_url('pyramid_blogr:static/theme.css')}}" rel="stylesheet">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="//oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
        <div id="wrapper">

        <div class="customHeader">
            <span class="xsmall-header"></span>
            <img class="headerimage" src="{{request.static_url('pyramid_blogr:static/gw_sm_logo.png')}}" alt="logo" width="75px">
            <h2 class="sg-p-color inline">
                <a class="noHover" href={{request.route_url('home')}}>
                  GraphWhy
                </a>
                {% if request.authenticated_userid %}
                    <span class="sg-a1-color subtext">
                        Welcome <strong>{{request.authenticated_userid}}</strong>
                        ({{paginator.totalUserVotes}})
                        <a href="{{request.route_url('auth',action='out')}}">Sign Out</a>
                    </span>
                {% endif %}
            </h2>
        </div>        
            
                {% set navigation_bar = [
                  ('/', 'alias', 'Alias'),
                  ('/question/create', 'question', 'Question'),
                   ('/', 'sets', 'Sets'),
                ] -%}
                {% set active_page = request.active_page|default('alias') -%}
                
                {% for href, id, caption in navigation_bar %}
                    {% if id == 'sets' %}
                    <div id="set_tab" class="man-tab sg-a1-color {% if id == active_page %}man-active"{% endif%}" {% if id == active_page %} id="active_tab"{% endif%}>
                         <div class="xsmall-header man-tab man-active">
                            <a>{{ caption|e }}</a>
                         </div>
                    </div>
                    <div class="man-tab lining1 sg-a1-color{% if id == active_page %}man-active has-success{% endif%}">
                         <div  id="author_set" class="xsmall-header man-tab man-active">
                            <ul>
                            {% for author in paginator.setAuthors %}
                                <li>
                                    <a class="xsmall-header sg-a1-color" href="/set/view/{{author.id}}">{{author.name}}</a>
                                </li>
                            {% endfor %}
                            </ul>
                        </div>
                    </div>
                    {% elif id == active_page %}
                    <div class="{% if id == active_page %}has-success"{% endif%} {% if id == active_page %} id="active_tab"{% endif%}>
                        <div class="hidding man-tab man-active">
                             <span  class="xsmall-header" ref="{{ href|e }}">{{ caption|e }}</span>
                             <i class="fa fa-sort pull-right xsmall-header" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="man-tab lining11 sg-a1-color man-active" id="lining1">
                        <div class="xsmall-header">
                            {% block content %}
                                <p>No content</p>
                            {% endblock content %}
                        </div>
                    </div>
                    {% else %}
                       <a  class="man-tab man-active xsmall-header solo sg-a1-color" href="{{ href|e }}">{{ caption|e }}</a>
                    {% endif %}
            {% endfor %}


        <div id="columns" class="xsmall-header">
            <p class="clean-small-header">
                A list of questions in &nbsp;
                <select>
                    <option value="Most Recent">Most Recent<option>
                </select>
                &nbsp; order.
            </p>
            
            {% if paginator.items %}
                {% for entry in paginator.items %}
                    <div class="pin">
                        {# <a href="{{ request.route_url('question', id=entry.id, slug=entry.slug) }}">  #}
                            <div class="voter-bar pull-right">
                              {% if request.authenticated_userid %}
                                <a href="{{ request.route_url('question_downvote', action='create', id=entry.id) }}">
                                    -
                                </a>
                              {% else %}
                                <span class='customDisabled'>-</span>
                              {% endif %} 
                              
                              <span class='tightSpace'> {{entry.totalVotes}} </span>
                              {% if request.authenticated_userid %}
                                <a href="{{ request.route_url('question_upvote', action='create', id=entry.id) }}">
                                    +
                                </a>
                              {% else %}
                                <span class='customDisabled'>+</span>
                              {% endif %}
                            </div>
                            <h5 style="margin:2px 0 0 0; padding:0 0 0px 0;">{{ entry.question }}</h5>
                            <hr/>
                            <h6>by <b>{{ entry.author }}</b></h6>
                            <p>{{ entry.description }}</p>
                            <h6>{{ entry.type }}</h6>
                        {# </a> #}
                    </div>
                {% endfor %}
            {{ paginator.pager() | safe }}
            {% else %}
                <p>No question entries found.</p>
            {% endif %}
            
            
        </div>
    <script>
       document.getElementById('active_tab').addEventListener("click", function(){
            console.log('what');
            x = document.getElementById("lining1");
            if (x.style.display == "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        });
        document.getElementById('set_tab').addEventListener("click", function(){
            var sets = document.getElementById('author_set')
                if (sets.style.display == "none") {
                    sets.style.display = "block";
                } else {
                    sets.style.display = "none";
                }
        
        });
    </script>

    <!-- Bootstrap core JavaScript -->
    <script src="//oss.maxcdn.com/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//oss.maxcdn.com/libs/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>
    
  </body>
</html>
