{% extends "pyramid_blogr:templates/layout.jinja2" %}

{% block content %}

    <div class="man-tabs">
        <div class="man-tab man-active">
            <a href="{{request.route_url('home')}}">Alias</a>
        </div>
        {% if request.authenticated_userid %}
            <div class="man-tab">
                <a href="{{ request.route_url('question_action',action='create') }}">Question</a>
            </div>
        {% else %}
            <div class="man-tab man-tab-disabled">
                <a>Question</a>
            </div>
        {% endif %}
    </div>
    <div id="columns">
        <div class="pin">
            {# <img src="{{request.static_url('pyramid_blogr:static/transparent.png')}}"> #}
            <!-- REGISTRATION FORM-->
            <form action="{{request.route_url('home')}}" method="post" class="form {#sg-form#}">
                <h3 class="sg-p-color">Alias</h3>
                <p class="sg-p-color">Enter a <b>username</b> to interact with the site</p>    <!-- CUSTOM ERROR REGISTRATION FOR NON-UNIQUE ENTRIES -->
                <div class="alert alert-danger">Oh gosh, please choose something other than 'username'... please...</div>
                {% for error in form.username.errors %}
                    <div class="alert alert-danger">{{ error }}</div>
                {% endfor %}
                <div class="form-group">
                    <label for="title" class="sg-a1-color">{{form.username.label}}</label>
                    {{form.username(class_='form-control')}}
                </div>
                {% for error in form.password.errors %}
                    <div class="alert alert-danger">{{error}}</div>
                {% endfor %}
                <div class="form-group" style="display:none">
                    <label for="body">{{form.password.label}}</label>
                    {{form.password(class_='form-control', value="badpassword")}}
                </div>
                <div class="form-group">
                    <label></label>
                    <button type="submit" class="btn btn-default">Submit</button>
                </div>
            </form>
        </div>
        {% if paginator.items %}
            {% for entry in paginator.items %}
                <div class="pin">
                    {# <a href="{{ request.route_url('question', id=entry.id, slug=entry.slug) }}">  #}
                        <h5>{{ entry.question }}</h5>
                        <hr/>
                        <h6>by <b>{{ entry.author }}</b></h6>
                        <p>{{ entry.description }}</p>
                        <h6>{{ entry.type }}</h6>
                    {# </a> #}
                </div>
            {% endfor %}
        {{ paginator.pager() |safe }}
    {% else %}
        <p>No blog entries found.</p>
    {% endif %}
    </div>
{% endblock %}
