{% extends "pyramid_blogr:templates/layout.jinja2" %}

{% block content %}

    {# <img src="{{request.static_url('pyramid_blogr:static/transparent.png')}}"> #}
    <!-- REGISTRATION FORM-->
    <form action="{{request.route_url('home')}}" method="post" class="form {#sg-form#}">
        {% for error in form.username.errors %}
            <div class="alert alert-danger">{{ error }}</div>
        {% endfor %}
        <div class="form-group">
            <div class="customLabel">
                <p>Please sign in here.</p>
                <div class="details-color">
                    <p>After signing in you can:</p>
                    <ul>
                        <li>Upvote/Downvote questions</li>
                        <li>Add a question to the list</li>
                        <li>See question sets</li>
                    </ul>
                </div>
            </div>
            <label for="title" class="sg-a1-color bold">
                {{form.username.label}}
            </label>
            {{form.username(class_='ripped1')}}
            {% for error in form.password.errors %}
            <div class="alert alert-danger">{{error}}</div>
            {% endfor %}
            <div class="hidden">    
                <label for="body">{{form.password.label}}</label>
                {{form.password(class_='ripped1', value="badpassword")}}
            </div>
            <button type="submit" class="">Sign In</button>
        </div>
    </form>
    
  {% endblock %}
