<!DOCTYPE html>
<html lang="{{request.locale_name}}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A daily questionnaire where you answer yes/no question. This is a free, private bullet journal, which can be accessed anywhere. A habit tracker with the results and data visualized for users.">
    <meta name="author" content="Alexander McNulty">
    <link rel="shortcut icon" href="{{request.static_url('graphwhy:static/gw-16x16.ico')}}"/>

    <title>GraphWhy, See For Yourself</title>
    <!-- Bootstrap core CSS -->
    <link href="//oss.maxcdn.com/libs/twitter-bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="../static/theme.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="//oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>  
    <div id=""i class="pin topNavBar" style="margin-left: 0px; margin-right: 0px;">
        <h1 class="sg-p-color"  style="display:inline-block;">
            <a class="noHover" href={{request.route_url('home')}}>
            <img src="{{request.static_url('graphwhy:static/gw_sm_logo.png')}}" alt="logo" style="width:60px;">
             <b> GraphWhy</b>.org
            </a>
        </h1>
        {% if request.authenticated_userid %}
            <h5 class="sg-a1-color"  style="display:inline-block; float:right; padding-top:40px;">
                <a style="margin-right:10px;" class="sg-a1-color" href="{{request.route_url('question_action_new')}}">Welcome <strong>{{request.authenticated_userid}}</strong></a>
                <a href="{{request.route_url('auth',action='out')}}">Sign Out</a>
            </h5>
        {% endif %}
    </div>
   

    <div id="wrapper">
        {% block content %}
            <p>No content</p>
        {% endblock content %}
        

    </div>      
            

    <!-- Bootstrap core JavaScript -->
    <script src="//oss.maxcdn.com/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//oss.maxcdn.com/libs/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>
  </body>
</html>
