{% extends "graphwhy:templates/layout.jinja2" %}

{% block content %}

    <script>
        
    </script>

    <span style="font-size:35px;color:#666;font-weight:300;">Create a Daily Question</span>
    <div class="pin body">
        <form action="{{request.route_url('question_action',action=action)}}" method="post" class="form">
            {% if action =='edit' %}
                {{ form.id() }}
            {% endif %}
            {# Question form #}
            <div class="form-group">


                {# daily question prompt feild #}
                <label for="question" class="" style="font-weight:700;color:#555;">{{ form.question.label }}</label>
                {% for error in form.question.errors %}
                    <div class="alert alert-danger">{{ error }}</div>
                {% endfor %}
                <br/>Did I {{ form.question(class_='form-control', default='general') }} Today?
                <br/><br/>

                {# color prompt feild #}
                {% for error in form.color.errors %}
                    <div class="alert alert-danger">{{ error }}</div>
                {% endfor %} 
                <label for="color" class=""  style="font-weight:700;color:#555;">{{ form.color.label }}</label>
                {{ form.color(class_='form-control', default='general') }}
                

              
                {# date prompt feild #}
                {#
                    {% for error in form.date.errors %}
                        <div class="alert alert-danger">{{ error }}</div>
                    {% endfor %} 
                    <label for="date" class="r" style="font-weight:700;color:#555;">{{ form.date.label }}</label>
                    {{ form.date(class_='form-control', default='general') }}
                    <br/>            
                #}

                <div style="visibility:hidden; height:0px;">
                    {# Type form #}
                    <label for="body" class="sg-a1-color">{{ form.type.label }}</label>
                    {% for error in form.type.errors %}
                        <div class="alert alert-danger">{{ error }}</div>
                    {% endfor %}
                    <textarea class="form-control" id="type" name="type">General, Daily Question</textarea>
                    {# Description form #}
                    <label for="body" class="sg-a1-color">{{ form.description.label }}</label>
                    {% for error in form.description.errors %}
                        <div class="alert alert-danger">{{ error }}</div>
                    {% endfor %}
                    <textarea class="form-control" default="null" id="description" name="description">Generic Question</textarea>

                    {# Question options form #}
                    <label for="body" class="sg-a1-color">{{ form.question_option.entries[0].question_option.label }}</label>
                    {% for error in form.question_option.errors %}
                        <div class="alert alert-danger">{{ error }}</div>
                    {% endfor %}
                    
                    <ol>
                        <li> 
                            <textarea class="form-control" default="Yes" id="question_option-0-question_option" name="question_option-0-question_option">Yes</textarea>
                        </li>
                        <li> 
                            <textarea class="form-control" default="Yes" id="question_option-1-question_option" name="question_option-1-question_option">No</textarea>
                        </li>
                        <inserthere id="options"></inserthere>
                    </ol>
                    <div class="voter-bar" style="margin-left:40px;padding: 0px 9px;">
                        <a onclick="removeOption()" style="cursor:pointer;"> - </a>   
                    </div>
                    <div class="voter-bar" style="margin-left:5px;">
                        <a onclick="appendOption()" style="cursor:pointer;"> + </a>       
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label></label>
                <button type="submit" class="btn btn-default" style="width:100%;" >Submit</button>
            </div>
        </form>
    </div>



    
        {% if paginator %}
            {% if paginator.items %}
                <div class="pin">
                {% for entry in paginator.items %}
                        {# <a href="{{ request.route_url('question', id=entry.id, slug=entry.slug) }}">  #}
                          <div style="margin:3px 5px;">
                            <div style="display:inline-block;width:10px;height:10px;background-color:{{entry.color}}"></div>
                            <h5 style="display:inline;">{{ entry.question }}</h5>
                            <div class="btn-group" style="width:60%;display:inline-block;float:right;">
                                {% for option in entry.answer_options %}
                                    <form action="{{ request.route_url('submit_vote', action='create', 
                                                        questionid = entry.id, optionid = option.id, date = '2000-10-05') }}" style="display:inline;">
                                
                                        {% if request.authenticated_userid %}
                                            <button style="display:inline-block;" type="submit" class="button active"> 
                                                {{ option.option_text }} 
                                            </button>
                                        {% else %}  
                                           <button disabled style="display:inline-block;" type="submit" class="button"> 
                                                {{ option.option_text }} 
                                            </button>
                                        {% endif %}
                                        <span style="display:inline-block;" >{{ option.votes|length }}</span>
                                        {% for vote in option.votes %}
                                            {% if loop.last %}
                                                <span style="display:inline-block;" >{{ vote.created }}</span>
                                            {% endif %}
                                        {% endfor %}
                                    </form>
                                {% endfor %}
                            </div>
                            <hr style="border-color:#eee;"/>

                          </div>
                        {# </a> #}
                {% endfor %}
                </div>
            {{ paginator.pager() | safe }}
            {% endif %}
        {% elif request.authenticated_userid %}
        <div class="body pin">

            <p>No question entries found.</p>
        </div>
        {% endif %}




 
    <script>    
       iPrime = 2;
       function appendOption() {
          var newItem = document.createElement("LI");
          newItem.setAttribute("id", "item" + iPrime);
          var optionTextArea = document.createElement("textarea");
          optionTextArea.className = "form-control";
          optionTextArea.setAttribute("name", "question_option-"+iPrime+"-question_option");
          optionTextArea.setAttribute("id", "question_option-"+iPrime+"-question_option");
          newItem.appendChild(optionTextArea);

          var list = document.getElementById("options");
          list.insertBefore(newItem, list.childNodes[iPrime++]);
       }
       function removeOption() {
          console.log("clicked");
          if(iPrime > 2){
              iPrime--;
              var oldForm = document.getElementById("question_option-"+iPrime+"-question_option");
              var oldItem = document.getElementById("item" + iPrime);
              oldForm.remove();
              oldItem.remove();
          }
       }
    </script>



{% endblock %}
