{% extends "graphwhy:templates/layout.jinja2" %}

{% block content %}
    <div id="back">

    <span style="font-size:35px;color:#666;font-weight:300;padding-top:15px;">Create a Daily Question</span>
    <div class="pin body">
        <form action="{{request.route_url('question_action',action=action)}}" method="post" class="form">
            {% if action =='edit' %}
                {{ form.id() }}
            {% endif %}
            {# Question form #}
            <div class="form-group">
                {# daily question prompt feild #}
                <label for="question" class="" style="font-weight:700;color:#555;">{{ form.question.label }}</label>
                {% for error in form.question.errors %}
                    <div class="alert alert-danger">{{ error }}</div>
                {% endfor %}
                <br/>Did/was I {{ form.question(class_='form-control', default='general') }} today?
                <br/><br/>

                {# color prompt feild #}
                {% for error in form.color.errors %}
                    <div class="alert alert-danger">{{ error }}</div>
                {% endfor %} 
                <label for="color" class=""  style="font-weight:700;color:#555;">{{ form.color.label }}</label>
                {{ form.color(class_='form-control', default='general') }}
                
 
                {# date prompt feild #}
                {#
                    {% for error in form.date.errors %}
                        <div class="alert alert-danger">{{ error }}</div>
                    {% endfor %} 
                    <label for="date" class="r" style="font-weight:700;color:#555;">{{ form.date.label }}</label>
                    {{ form.date(class_='form-control', default='general') }}
                    <br/>            
                #}


                <div style="visibility:hidden; height:0px;">
                    {# Type form #}
                    <label for="body" class="sg-a1-color">{{ form.type.label }}</label>
                    {% for error in form.type.errors %}
                        <div class="alert alert-danger">{{ error }}</div>
                    {% endfor %}
                    <textarea class="form-control" id="type" name="type">General, Daily Question</textarea>
                    {# Description form #}
                    <label for="body" class="sg-a1-color">{{ form.description.label }}</label>
                    {% for error in form.description.errors %}
                        <div class="alert alert-danger">{{ error }}</div>
                    {% endfor %}
                    <textarea class="form-control" default="null" id="description" name="description">Generic Question</textarea>

                    {# Question options form #}
                    <label for="body" class="sg-a1-color">{{ form.question_option.entries[0].question_option.label }}</label>
                    {% for error in form.question_option.errors %}
                        <div class="alert alert-danger">{{ error }}</div>
                    {% endfor %}
                    
                    <ol>
                        <li> 
                            <textarea class="form-control" default="Yes" id="question_option-0-question_option" name="question_option-0-question_option">Yes</textarea>
                        </li>
                        <li> 
                            <textarea class="form-control" default="No" id="question_option-1-question_option" name="question_option-1-question_option">No</textarea>
                        </li>
                        <inserthere id="options"></inserthere>
                    </ol>
                    <div class="voter-bar" style="margin-left:40px;padding: 0px 9px;">
                        <a onclick="removeOption()" style="cursor:pointer;"> - </a>   
                    </div>
                    <div class="voter-bar" style="margin-left:5px;">
                        <a onclick="appendOption()" style="cursor:pointer;"> + </a>       
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label></label>
                <button type="submit" class="btn btn-default" style="width:100%;" >Submit</button>
            </div>
        </form>
    </div> 
 



    <script>
        //objects for results component
        var monthMapKeys = []
        var monthMap = new Map();

        // object for key component
        var keyMap = new Map();

        //object and method for submitting multiple questions
        var voteOptionsMap = new Map();
        function setVote(optionText, optionId, questionId){
            voteOptionsMap.set(questionId, optionId);
            if(optionText == 'Yes'){
                document.getElementById("option" + optionId + "question" + questionId).checked = true;  
                document.getElementById("option" + (optionId+1) + "question" + questionId).checked = false;
                document.getElementById("option" + (optionId) + "question" + questionId).parentElement.style.backgroundColor = "#e4e4e4";
                document.getElementById("option" + (optionId+1) + "question" + questionId).parentElement.style.backgroundColor = null;
            } else {
                document.getElementById("option" + optionId + "question" + questionId).checked = true;  
                document.getElementById("option" + (optionId-1) + "question" + questionId).checked = false;
                document.getElementById("option" + (optionId) + "question" + questionId).parentElement.style.backgroundColor = "#e4e4e4";
                document.getElementById("option" + (optionId-1) + "question" + questionId).parentElement.style.backgroundColor = null;
            }
            
        }

        function getSubmitUrl(){ 
            date = new Date();
            month = date.getMonth()+1;
            
            votes = "";
            questions = "";
            for(const key of voteOptionsMap.keys()){
                console.log(key);
                questions += key + "-";
                votes += voteOptionsMap.get(key) + "-";
            }
            votes = votes.substring(0, votes.length-1);
            questions = questions.substring(0, questions.length-1);

            url = "{{request.route_url('submit_vote',action='create',questionid="",optionid="", date='') }}";
            url = url.substring(0, url.length-3);
            url += "/" + questions; 
            url += "/" + votes; 
            url += "/" + date.getFullYear() + "-" + month + "-" + date.getDate(); 
   
            return url;
        }

    </script>


    <span style="font-size:35px;color:#666;font-weight:300;padding-top:15px;">Answer Daily Questions</span>
    {% if paginator %}
    {% if paginator.items %}
        <div class="pin">
        {% for entry in paginator.items %}
                {# <a href="{{ request.route_url('question', id=entry.id, slug=entry.slug) }}">  #}
                  <div style="margin:3px 5px;">
                    <div style="display:inline-block;width:10px;height:10px;background-color:{{entry.color}}"></div>
                    <h5 style="display:inline;">{{ entry.question }}</h5>
                    <div class="btn-group" style="width:60%;display:inline-block;float:right;">
                        {% for option in entry.answer_options %}
                            <div style="display:inline-block;" class="button active" onclick="setVote('{{option.option_text}}', {{option.id}}, {{entry.id}})" > 
                                {{ option.option_text }}
                                <input style="display:inline-block;" type="checkbox" onclick="setVote('{{option.option_text}}', {{option.id}}, {{entry.id}})" id="option{{option.id}}question{{entry.id}}"/> 
                            </div>
                            <script>
                                document.getElementById("option{{option.id}}question{{entry.id}}").checked = false;
                            </script>
                            <!--<span style="display:inline-block;" >{{ option.votes|length }}</span>-->
                            {% for vote in option.votes %}
                                {% if loop.last %}
                                    <!--<span style="display:inline-block;" >{{ vote.created }}</span>-->
                                {% endif %}
                        
                                <script type='text/javascript'>
                                    if(!monthMap.has('{{vote.created.year}}-{{vote.created.month}}-{{entry.id}}')){
                                        monthMap.set('{{vote.created.year}}-{{vote.created.month}}-{{entry.id}}', 
                                                        {
                                                            color: '{{entry.color}}',
                                                            questionId:{{entry.id}},
                                                            question:'{{entry.question}}',
                                                            year:{{vote.created.year}},
                                                            month:{{vote.created.month}},
                                                            days:["{{vote.created.day}}"],
                                                            vals: ['{{option.option_text}}']
                                                        });
                                        monthMapKeys.push('{{vote.created.year}}-{{vote.created.month}}-{{entry.id}}');                                           
                                    } else {
                                        var month = monthMap.get('{{vote.created.year}}-{{vote.created.month}}-{{entry.id}}'); 
                                        month.days.push('{{vote.created.day}}');
                                        month.vals.push('{{option.option_text}}');
                                    }
                                </script>
                            {% endfor %}
                            <script>
                                if(!keyMap.has('{{entry.id}}')){
                                    keyMap.set('{{entry.id}}', {
                                                  question:'{{entry.question}}',
                                                  color:'{{entry.color}}' 
                                                })
                                } 
                            </script>
                        {% endfor %}
                    </div>
                    <hr style="border-color:#eee;"/>

                  </div>
                {# </a> #}
            {% endfor %}

            <form name="" 
                onsubmit="this.action=getSubmitUrl();" style="display:inline;">
                <button type='submit' class="btn btn-default" style="width:100%;">Submit</button>
            </form>
        </div>
  
        <span style="font-size:35px;color:#666;font-weight:300;padding-top:15px;">Daily Questions Key</span>
        <div id="key" class="pin body">
        </div>

        <script>
            for(const key of keyMap.keys()){
                //create small color block 
                var div = document.createElement("div");
                div.style.width = "10px";
                div.style.height = "10px";
                div.style.display = "inline-block";
                div.style.backgroundColor = keyMap.get(key).color;
                document.getElementById("key").appendChild(div);

                //create label
                var h5 = document.createElement("h5");
                h5.style.display = "inline";
                h5.style.margin = "0px 5px";
                h5.innerHTML = keyMap.get(key).question;
                document.getElementById("key").appendChild(h5);

                //add break for next key
                var br = document.createElement("br");
                document.getElementById("key").appendChild(br);
            }
        </script>
 
        <span style="font-size:35px;color:#666;font-weight:300;padding-top:15px;">User Results</span>
        <script type="text/javascript">

            

           const monthNames = ["January", "February", "March", "April", "May", "June",
  "July", "August", "September", "October", "November", "December"
];        
           monthMapKeys.sort().reverse(); 
           for(const key of monthMapKeys){
                var cur =monthMap.get(key);
                var div1;
                if(document.getElementById("month"+cur.month+"_"+cur.year) == null){
                    var div4 = document.createElement("div");                     
                    div4.classList.add("pin");
                    div4.classList.add("body");
                    //div4.style.overflowX= "scroll";

                    div1 = document.createElement("div");
                    div1.style.width= "360px";
                    div1.setAttribute("id","month" + cur.month+"_"+cur.year);

                    var h5 = document.createElement("h5");
                    h5.innerHTML = monthNames[cur.month-1] + ", " + cur.year;

                    document.getElementById("back").appendChild(div4);
                    div4.appendChild(h5);
                    div4.appendChild(div1);

                } else {
                    div1 = document.getElementById("month"+cur.month+"_"+cur.year);
                }
                var days = cur.days;
                var vals = cur.vals;
                var date = new Date(cur.year, cur.month, 0);
                for(let i=1; i <= date.getDate(); i++){ 
                    var div2 = document.createElement("div"); 
                    if(days.includes(String(i))){
                        var x = days.indexOf(String(i));
                        console.log(vals[x]);
                        if(vals[x] == 'Yes'){
                            div2.style.width = "8px";
                            div2.style.height = "8px";
                            div2.style.margin = "1px";
                            div2.style.backgroundColor = cur.color;
                        } else {
                            div2.style.margin = "1px";
                            div2.style.width = "8px";
                            div2.style.height = "8px";
                            var div3 = document.createElement("div");
                            div3.style.margin = "1px 1px";
                            div3.style.width = "4px";
                            div3.style.height = "4px";
                            div3.style.backgroundColor = cur.color;
                            div2.appendChild(div3); 
                        }
                    } else {
                        div2.style.width = "8px";
                        div2.style.height = "8px";
                        div2.style.margin = "1px";
                    }
                    div2.style.border = "solid 1px #aaa";
                    div2.style.display = "inline-block";
                    div1.appendChild(div2);

                }
                
                
                //add break for next key
                var br = document.createElement("br");
                div1.appendChild(br);
                
                 
                
           }
        </script>
    </div>
    {{ paginator.pager() | safe }}
    {% endif %}
    {% elif request.authenticated_userid %}
    <div class="body pin">
        <p>Create a question to start using your bullet journal.</p>
    </div>
    {% endif %}
 
    <script>    
       iPrime = 2;
       function appendOption() {
          var newItem = document.createElement("LI");
          newItem.setAttribute("id", "item" + iPrime);
          var optionTextArea = document.createElement("textarea");
          optionTextArea.className = "form-control";
          optionTextArea.setAttribute("name", "question_option-"+iPrime+"-question_option");
          optionTextArea.setAttribute("id", "question_option-"+iPrime+"-question_option");
          newItem.appendChild(optionTextArea);

          var list = document.getElementById("options");
          list.insertBefore(newItem, list.childNodes[iPrime++]);
       }
       function removeOption() {
          if(iPrime > 2){
              iPrime--;
              var oldForm = document.getElementById("question_option-"+iPrime+"-question_option");
              var oldItem = document.getElementById("item" + iPrime);
              oldForm.remove();
              oldItem.remove();
          }
       }
    </script>



{% endblock %}
