{% extends "graphwhy:templates/layout.jinja2" %}

{% block content %}


    <span style="font-size:35px;color:#666;font-weight:300;">Create a Daily Question</span>
    <div class="pin body">
        <form action="{{request.route_url('question_action',action=action)}}" method="post" class="form">
            {% if action =='edit' %}
                {{ form.id() }}
            {% endif %}
            {# Question form #}
            <div class="form-group">


                {# daily question prompt feild #}
                <label for="question" class="" style="font-weight:700;color:#555;">{{ form.question.label }}</label>
                {% for error in form.question.errors %}
                    <div class="alert alert-danger">{{ error }}</div>
                {% endfor %}
                <br/>Did I {{ form.question(class_='form-control', default='general') }} Today?
                <br/><br/>

                {# color prompt feild #}
                {% for error in form.color.errors %}
                    <div class="alert alert-danger">{{ error }}</div>
                {% endfor %} 
                <label for="color" class=""  style="font-weight:700;color:#555;">{{ form.color.label }}</label>
                {{ form.color(class_='form-control', default='general') }}
                

              
                {# date prompt feild #}
                {#
                    {% for error in form.date.errors %}
                        <div class="alert alert-danger">{{ error }}</div>
                    {% endfor %} 
                    <label for="date" class="r" style="font-weight:700;color:#555;">{{ form.date.label }}</label>
                    {{ form.date(class_='form-control', default='general') }}
                    <br/>            
                #}

                <div style="visibility:hidden; height:0px;">
                    {# Type form #}
                    <label for="body" class="sg-a1-color">{{ form.type.label }}</label>
                    {% for error in form.type.errors %}
                        <div class="alert alert-danger">{{ error }}</div>
                    {% endfor %}
                    <textarea class="form-control" id="type" name="type">General, Daily Question</textarea>
                    {# Description form #}
                    <label for="body" class="sg-a1-color">{{ form.description.label }}</label>
                    {% for error in form.description.errors %}
                        <div class="alert alert-danger">{{ error }}</div>
                    {% endfor %}
                    <textarea class="form-control" default="null" id="description" name="description">Generic Question</textarea>

                    {# Question options form #}
                    <label for="body" class="sg-a1-color">{{ form.question_option.entries[0].question_option.label }}</label>
                    {% for error in form.question_option.errors %}
                        <div class="alert alert-danger">{{ error }}</div>
                    {% endfor %}
                    
                    <ol>
                        <li> 
                            <textarea class="form-control" default="Yes" id="question_option-0-question_option" name="question_option-0-question_option">Yes</textarea>
                        </li>
                        <li> 
                            <textarea class="form-control" default="Yes" id="question_option-1-question_option" name="question_option-1-question_option">No</textarea>
                        </li>
                        <inserthere id="options"></inserthere>
                    </ol>
                    <div class="voter-bar" style="margin-left:40px;padding: 0px 9px;">
                        <a onclick="removeOption()" style="cursor:pointer;"> - </a>   
                    </div>
                    <div class="voter-bar" style="margin-left:5px;">
                        <a onclick="appendOption()" style="cursor:pointer;"> + </a>       
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label></label>
                <button type="submit" class="btn btn-default" style="width:100%;" >Submit</button>
            </div>
        </form>
    </div> 
 

    <script>
        var monthMap = new Map();
        var keyMap = new Map();
    </script>


    <span style="font-size:35px;color:#666;font-weight:300;">Answer Daily Questions</span>
    {% if paginator %}
    {% if paginator.items %}
        <div class="pin">
        {% for entry in paginator.items %}
                {# <a href="{{ request.route_url('question', id=entry.id, slug=entry.slug) }}">  #}
                  <div style="margin:3px 5px;">
                    <div style="display:inline-block;width:10px;height:10px;background-color:{{entry.color}}"></div>
                    <h5 style="display:inline;">{{ entry.question }}</h5>
                    <div class="btn-group" style="width:60%;display:inline-block;float:right;">
                        {% for option in entry.answer_options %}
                            <script type="text/javascript"> 
                                function get_action{{option.id}}(){
                                    date = new Date();
                                    month = date.getMonth()+1;
                                    toReturn = "{{ request.route_url('submit_vote', action='create', questionid = entry.id, optionid = option.id, date = '') }}"+ date.getFullYear() + "-" + month + "-" + date.getDate();
                                    console.log(toReturn);
                                    return toReturn;
                                }
                            </script>
                            <form name="option{{option.id}}" 
                                action="" onsubmit="this.action=get_action{{option.id}}();" style="display:inline;">
                     
                                {% if request.authenticated_userid %}
                                    <button style="display:inline-block;" type="submit" class="button active"> 
                                        {{ option.option_text }} 
                                    </button>
                                {% else %}  
                                   <button disabled style="display:inline-block;" type="submit" class="button"> 
                                        {{ option.option_text }} 
                                    </button>
                                {% endif %}
                                <!--<span style="display:inline-block;" >{{ option.votes|length }}</span>-->
                                {% for vote in option.votes %}
                                    {% if loop.last %}
                                        <!--<span style="display:inline-block;" >{{ vote.created }}</span>-->
                                    {% endif %}
                            
                                    <script type='text/javascript'>
                                        if(!monthMap.has('{{vote.created.year}}-{{vote.created.month}}-{{entry.id}}')){
                                            monthMap.set('{{vote.created.year}}-{{vote.created.month}}-{{entry.id}}', 
                                                            {
                                                                questionId:{{entry.id}},
                                                                question:'{{entry.question}}',
                                                                year:{{vote.created.year}},
                                                                month:{{vote.created.month}},
                                                                days:[{{vote.created.day}}],
                                                                val: ['{{option.option_text}}']
                                                            });                                           
                                        } else {
                                            var month = monthMap.get('{{vote.created.year}}-{{vote.created.month}}-{{entry.id}}'); 
                                            month.days.push({{vote.created.day}});
                                            month.val.push('{{option.option_text}}');
                                        }
                                    </script>
                                {% endfor %}
                                <script>
                                    if(!keyMap.has('{{entry.id}}')){
                                        keyMap.set('{{entry.id}}', {
                                                      question:'{{entry.question}}',
                                                      color:'{{entry.color}}' 
                                                    })
                                        console.log(keyMap.get('{{entry.id}}').color);
                                    } 
                                </script>
                            </form>

                        {% endfor %}
                    </div>
                    <hr style="border-color:#eee;"/>

                  </div>
                {# </a> #}
        {% endfor %}
        </div>
  
        <span style="font-size:35px;color:#666;font-weight:300;">Daily Questions Key</span>
        <div id="key" class="pin body">
        </div>

        <script>
            for(const key of keyMap.keys()){
                //create small color block 
                var div = document.createElement("div");
                div.style.width = "10px";
                div.style.height = "10px";
                div.style.display = "inline-block";
                div.style.backgroundColor = keyMap.get(key).color;
                document.getElementById("key").appendChild(div);

                //create label
                var h5 = document.createElement("h5");
                h5.style.display = "inline";
                h5.style.margin = "0px 5px";
                h5.innerHTML = keyMap.get(key).question;
                document.getElementById("key").appendChild(h5);

                //add break for next key
                var br = document.createElement("br");
                document.getElementById("key").appendChild(br);
            }
        </script>
 




    {{ paginator.pager() | safe }}
    {% endif %}
    {% elif request.authenticated_userid %}
    <div class="body pin">
        <p>Create a question to start using your bullet journal.</p>
    </div>
    {% endif %}
 
    <script>    
       iPrime = 2;
       function appendOption() {
          var newItem = document.createElement("LI");
          newItem.setAttribute("id", "item" + iPrime);
          var optionTextArea = document.createElement("textarea");
          optionTextArea.className = "form-control";
          optionTextArea.setAttribute("name", "question_option-"+iPrime+"-question_option");
          optionTextArea.setAttribute("id", "question_option-"+iPrime+"-question_option");
          newItem.appendChild(optionTextArea);

          var list = document.getElementById("options");
          list.insertBefore(newItem, list.childNodes[iPrime++]);
       }
       function removeOption() {
          console.log("clicked");
          if(iPrime > 2){
              iPrime--;
              var oldForm = document.getElementById("question_option-"+iPrime+"-question_option");
              var oldItem = document.getElementById("item" + iPrime);
              oldForm.remove();
              oldItem.remove();
          }
       }
    </script>



{% endblock %}
