

/*  Mr.Godinez  */
h1{
    color: #6373c5;
    font-size: 40px;
}
body {
    background-repeat: no-repeat;
    width: 100;
    height: 100vh;
    background: #74ebd5; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ACB6E5, #74ebd5); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ACB6E5, #74ebd5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin: 20px;
    font-family: helvetica;
}
h2{
    color: #6373c5;
    font-family: helvetica;
    font-size: 17px;
}
p {
    color: #6373c5;
    font-family: helvetica;
    font-size: 16px;
}
a {
    color: #6373c5;
    font-family: helvetica;
    font-size: 16px;
}
form {
}
div {
    color: white;
}

/*  Mr.McNulty  */
.man-tabs {
    width: 100%;
}
.man-tab {
    display: inline-block;
    padding:5px 42px;
    border: 1px solid #6373c5;
}
.man-tab.man-active {
    background-color :#6373c5;
}
.man-tab.man-active a{
    color:white;
}

