/*--------*/
/*  Mr.Godinez  */
h1{
    font-size: 40px;
}
body {
    background-repeat: no-repeat;
    width: 100;
    height: 100vh;
    background: #d2d7f1; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #d2d7f1, #ddf2ff); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #d2d7f1, #ddf2ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin: 20px;
    font-family: helvetica;
    font-size: 16px;
}
a {
    color: #6373c5;
}
hr{
    margin: 7px 0px;
    border-color:#8b94c3;
}
label{
    margin-top:6px;
    font: 14px/20px Arial, sans-serif;
}

/*--------*/
/*  Mr.McNulty  */
.noHover{
    Text-Decoration: None !important;
}
.voter-bar{
    background-color: #ffffff61;
    padding: 1px 7px;
    display: inline-block;
}
.voter-bar .tightSpace{
    padding:0 10px;
}
.voter-bar .customDisabled{
    color: #999;
    padding:0 0;
}
.xsmall-header{
    padding:6px 42px;
}
.xsmall-header.solo{
    display: block;
}
label{
    font-weight: 500;
}
.sg-p-color{
    color:#6373c5;
}
.detail-color{
    color:#555;
}
body{
    margin:0px;
    padding-top:10px;
}
.sg-a1-color{
    color:#5c5196;
}
.active-color{
    background-color :#ffffff80;
}
.internal-form-group{
    padding:6px;
    margin:6px;
}
.lining11{
    padding:4px;
}
.paddingbottom{
    padding-bottom:8px;
}
.sg-form {
    border:1px solid #6373c5;
    padding:15px;
    max-width: 520px;
}
.inline{
    display:inline-block;
}
.man-tabs {
    width: 100%;
    margin-bottom:45px;
    display: inline-block;
    padding-bottom: 10px;
}
.customHeader{
    background-color: inherit;
}
.customLabel{
    font-size:15px;
    padding-top:3px;
    margin-top:3px;
}
.subtext{
    font-size:12px;
    padding:10px 5px;
    display: block;
}
#author_set{
    display:none;
}
.fa-circle-red{
    color:#fa3e3e;
    font-size:13px;
}
.disabled{
    background-color:#c1c1c150;
}
.lining11{
    border-bottom:1px solid #6373c5;
    background-color :#ffffffc2;
}
.internal-form-group{
    display: inline-block;
    background-color:#bdbdbd4f; 
}
.internal-form-group label{
    width:75px;
    text-align: center;
}
.line{
    border-bottom:1px solid #6373c5;
}
.man-active{
    border-bottom: 1px solid #6373c5;
    background-color :#ffffffc2;
}
.border-bottom{
    border-bottom: 1px solid #6373c5;
}
.headerimage{
    vertical-align: text-bottom;
}
.man-tab.man-active.disabled{
    background-color :#ffffff50;
}
.man-tab.man-active{
    background-color :#ffffffc2;
}
.active-color{
    background-color :#ffffff57;
}
.man-tab.man-active a{
    color:inherit;
}
.man-tab.man-tab-disabled {
    border: 1px solid #aaa;
}
.man-tab.man-tab-disabled a{
    color: #aaa;
}
.click-through{
    pointer-events: none;
}
.click{
    pointer-events: auto;
}
#lining1{
    display:block;
}
/*--------*/

.pin:first-child{
    border-radius:2px;
    padding:7px;
    background-color:#fff6;
    margin: 20px 5px;
    width:100%;
}
.pin{
    border-radius:2px;
    padding:7px;
    margin: 20px 5px;
    width:90%;
}

.clean-small-header{
    font-weight: 300;
    padding:10px 18px 4px;
    margin-top:28px;
    margin-bottom:10px;
    line-height: 25px;
    border-bottom:1px solid #666;
    width:90%;
}

/* css 'pins' http://cssdeck.com/labs/css-only-pinterest-style-columns-layout -- modified -- */
/*
#wrapper {
	width: 90%;
	max-width: 1100px;
	margin: 50px auto;
}
#columns {
	-webkit-column-count: 3;
	-webkit-column-gap: 10px;
	-webkit-column-fill: auto;
	-moz-column-count: 3;
	-moz-column-gap: 10px;
	-moz-column-fill: auto;
	column-count: 3;
	column-gap: 15px;
	column-fill: auto;
}
.pin {
	display: inline-block;
	background: rgba(254, 254, 254, 0.28);
	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
	margin: 0 2px 15px;
	-webkit-column-break-inside: avoid;
	-moz-column-break-inside: avoid;
	column-break-inside: avoid;
	padding: 15px;
	padding-bottom: 5px;
	opacity: 1;
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
    width:100%;
}
.pin img {
	width: 100%;
	border-bottom: 1px solid #ccc;
	padding-bottom: 15px;
	margin-bottom: 5px;
}
.pin p {
	font: 12px/18px Arial, sans-serif;
	color: #333;
	margin: 0;
    word-wrap: break-word;
}
@media (max-width: 400px) {
	#columns {
		-webkit-column-count: 1;
		-moz-column-count: 1;
		column-count: 1;
	}
    #wrapper {
        width: 100%;
        margin: 15px auto;
    }
}
@media (min-width: 401px){
    #columns {
		-webkit-column-count: 2;
		-moz-column-count: 2;
		column-count: 2;
	}
    #wrapper {
        width: 95%;
        margin: 25px auto;
    }
}
@media (min-width: 700px) {
    #wrapper {
        width: 90%;
        max-width: 1100px;
        margin: 50px auto;
    }
    #columns {
        -webkit-column-count: 3;
        -webkit-column-gap: 10px;
        -webkit-column-fill: auto;
        -moz-column-count: 3;
        -moz-column-gap: 10px;
        -moz-column-fill: auto;
        column-count: 3;
        column-gap: 15px;
        column-fill: auto;
    }
}
@media (min-width: 960px) {
	#columns {
		-webkit-column-count: 4;
		-moz-column-count: 4;
		column-count: 4;
	}
}
@media (min-width: 1100px) {
	#columns {
		-webkit-column-count: 5;
		-moz-column-count: 5;
		column-count: 5;
	}
}

#columns:hover .pin:not(:hover) {
	opacity: 0.9;
}
.pin div.alert{
    font: 12px/18px Arial, sans-serif;
    margin: 10px 0px;
}
*/